router ospf {{  ospfProcess }}
  vrf {{ vrfName }}
    router-id {{ routerId }}
    auto-cost reference-bandwidth 100000
    area {{  ospfArea }} nssa
    log-adjacency-changes
    passive-interface default
