interface {{ interfaceName }}{{ interfaceNumber }}
  description {{ interfaceDescription }}
  vrf member {{ vrfName }}
  no ip redirects
  ip address {{ IpAdress }}
  ip router ospf {{  ospfProcess }} area {{  ospfArea }}
  hsrp version 2
  hsrp {{ hsrpGroup }}
    authentication text vlan{{  hsrpAuth }}
    preempt delay{{ " minimum 120 " if ( deviceOrder == 1 ) else " " }}reload 600
    priority {{ hsrpPriority }}
    track 490 decrement 10
    track 500 decrement 50
    ip {{ hsrpVip }}
  no shutdown
