interface {{ interfaceName }}{{ interfaceNumber }}
 description {{ interfaceDescription }}
 vrf member {{ vrfName }}
 ip address {{ IpAdress }}
 no ip redirects
 ip ospf authentication message-digest
 ip ospf message-digest-key 1 md5 {{ ospfPassword }}
 no ip ospf passive-interface
 ip router ospf {{  ospfProcess }} area {{  ospfArea }}
 no shutdown
